/*基本樣式*/
body{padding:0;margin:0 1%;line-height:120%;text-align:justify;}
p {text-align:justify;text-indent:2em;line-height:120%;margin-right:1%;margin-left:1%;}
h1 {font-size:1.5em;line-height: 1.2em;margin-top:1em;margin-bottom: 1.2em;font-weight:bold;text-align:center;}
div {margin:0;padding:0;line-height:120%;text-align:justify;dispaly:block;}
li{clear:both;display:block;}
td{padding:3px 0;}
ruby{ruby-align:center;}
rp, rt{font-size:0.7em;}
h2 {font-size:1.5em;line-height: 1.2em;margin-top:1em;margin-bottom: 1.2em;font-weight:bold;text-align:center;}
h3 {font-size:2.0em;line-height: 1.2em;margin-top:1em;margin-bottom: 1.2em;font-weight:bold;text-align:center;}
h4 {font-size:2.5em;line-height: 1.2em;margin-top:1em;margin-bottom: 1.2em;font-weight:bold;text-align:center;}
a.no {font-size: 20px;font-weight: bold;}
a:link {color: black;}
a:visited {color: #959595;}
p.name {font-weight: bold;}
p.time {font-size: 15px;}
a.jump {font-size: 15px;font-weight: normal;}
h2.two {font-size:1.3em;line-height: 1.2em;margin-top:1em;margin-bottom: 1.2em;font-weight:bold;text-align:center;}
h3.f {font-size: 20px;font-synthesis: weight;}
p.Q {font-weight:bold;}


/*封面樣式*/
.cover {margin:0;padding:0;text-indent:0;text-align:center;}


/*基本資訊頁樣式*/
.makertitle{font-size:1.3em;text-indent:0;font-weight:700;margin-top:0.5em;margin-bottom:0.5em;}
.cutline{text-indent:0;line-height:0;margin-top:0.3em;margin-bottom: 0.3em;}
.makerinf{text-indent:0;line-height:1.2em;margin-top:0.2em;margin-bottom:0.2em;}
p.important {text-indent:0;line-height:1.2em;margin-top:0.2em;margin-bottom:0.2em;font-size:1.5em;font-weight: bold;color: red;}
ol.nop{list-style-type: none;margin: 0;padding: 0;}


/*Logo頁樣式*/
.logoarea{text-indent:0;text-align:center;margin-top:20%;margin-bottom:0;}
.logoimage{width:100%;}


/*目錄頁超連結樣式*/
.nodeco{text-decoration:none;color:#000;}


/*正文樣式*/
/*編輯者註解*/
.po{font-size:0.9em;text-indent:-0.8em;padding:0 0.1em 0.1em 1em;color:#960014;}
/*正文下方加注黑點*/
.dot{text-emphasis-style:dot;text-emphasis-position:under;}


/*字體樣式*/
/*文字加粗*/
.bold{font-weight:700;}
/*文字傾斜*/
.italic{font-style:italic;}
.oblique{font-style:oblique;}
/*字體大小*/
.font01{font-size:0.1em;}
.font02{font-size:0.2em;}
.font03{font-size:0.3em;}
.font04{font-size:0.4em;}
.font05{font-size:0.5em;}
.font06{font-size:0.6em;}
.font07{font-size:0.7em;}
.font08{font-size:0.8em;}
.font09{font-size:0.9em;}
.font10{font-size:1.0em;}
.font11{font-size:1.1em;}
.font12{font-size:1.2em;}
.font13{font-size:1.3em;}
.font14{font-size:1.4em;}
.font15{font-size:1.5em;}
.font16{font-size:1.6em;}
.font17{font-size:1.7em;}
.font18{font-size:1.8em;}
.font19{font-size:1.9em;}
.font20{font-size:2em;}
.font21{font-size:2.1em;}
.font22{font-size:2.2em;}
.font23{font-size:2.3em;}
.font24{font-size:2.4em;}
/*段落不縮行*/
.in0{text-indent:0;}
/*文本置中*/
.center{text-indent:0;text-align:center;}
/*文本置左*/
.left{text-align:left;text-indent:0;}
/*文本居右*/
.right{text-indent:0;text-align:right;}


/*字本身顏色*/
.color1{color:#000;}/*黑色*/
.color2{color:#a9a9a9;}/*深灰色*/
.color3{color:#808080;}/*灰色*/
.color4{color:#696969;}/*淺灰色*/
.color5{color:#c0c0c0;}/*銀色*/
.color6{color:#d3d3d3;}/*亮灰色*/
.color7{color:#dcdcdc;}/*庚斯博羅灰色*/
.color8{color:#f5f5f5;}/*煙白色*/
.color9{color:#fff;}/*白色*/
.color10{color:#4b0082;}/*靛藍色*/
.color11{color:#800080;}/*紫色*/
.color12{color:#9400d3;}/*紫藍色*/
.color13{color:#f00;}/*紅色*/
.color14{color:#ff8c00;}/*深橘色*/
.color15{color:#ffa500;}/*橘色*/
.color16{color:#ff1493;}/*深粉色*/
.color17{color:#f0f;}/*洋紅色*/
.color18{color:#ff69b4;}/*暖粉色*/
.color19{color:#ffc0cb;}/*粉色*/
.color20{color:#ff0;}/*黃色*/
.color21{color:#ffd700;}/*金色*/
.color22{color:#f0e68c;}/*卡其色*/
.color23{color:#191970;}/*午夜藍色*/
.color24{color:#000080;}/*海軍色*/
.color25{color:#00008b;}/*深藍色*/
.color26{color:#0000cd;}/*中間藍色*/
.color27{color:#00f;}/*藍色*/
.color28{color:#1e90ff;}/*道奇藍色*/
.color29{color:#008080;}/*藍綠色*/
.color30{color:#20b2aa;}/*亮綠色*/
.color31{color:#40e0d0;}/*綠松色*/
.color32{color:#00ced1;}/*深綠松色*/
.color33{color:#0ff;}/*水藍色*/
.color34{color:#afaaaa;}/*灰綠松石色*/
.color35{color:#556b2f;}/*深橄欖綠色*/
.color36{color:#6b8e23;}/*橄欖綠色*/
.color37{color:#808000;}/*橄欖色*/
.color38{color:#006400;}/*深綠色*/
.color39{color:#008000;}/*綠色*/
.color40{color:#228b22;}/*蒼色*/
.color41{color:#32cd32;}/*萊姆綠色*/
.color42{color:#0f0;}/*萊姆色*/
.color43{color:#7fff00;}/*蕁麻酒綠色*/
.color44{color:#800000;}/*栗色*/
.color45{color:#8b4513;}/*馬鞍棕色*/
.color46{color:#d2691e;}/*淺棕色*/
.color47{color:#cd853f;}/*秘魯色*/
.color48{color:#f4a460;}/*沙棕色*/


/*字背景顏色*/
.bcolor1{background-color:#000;}/*黑色*/
.bcolor2{background-color:#a9a9a9;}/*深灰色*/
.bcolor3{background-color:#808080;}/*灰色*/
.bcolor4{background-color:#696969;}/*淺灰色*/
.bcolor5{background-color:#c0c0c0;}/*銀色*/
.bcolor6{background-color:#d3d3d3;}/*亮灰色*/
.bcolor7{background-color:#dcdcdc;}/*庚斯博羅灰色*/
.bcolor8{background-color:#f5f5f5;}/*煙白色*/
.bcolor9{background-color:#fff;}/*白色*/
.bcolor10{background-color:#4b0082;}/*靛藍色*/
.bcolor11{background-color:#800080;}/*紫色*/
.bcolor12{background-color:#9400d3;}/*紫藍色*/
.bcolor13{background-color:#f00;}/*紅色*/
.bcolor14{background-color:#ff8c00;}/*深橘色*/
.bcolor15{background-color:#ffa500;}/*橘色*/
.bcolor16{background-color:#ff1493;}/*深粉色*/
.bcolor17{background-color:#f0f;}/*洋紅色*/
.bcolor18{background-color:#ff69b4;}/*暖粉色*/
.bcolor19{background-color:#ffc0cb;}/*粉色*/
.bcolor20{background-color:#ff0;}/*黃色*/
.bcolor21{background-color:#ffd700;}/*金色*/
.bcolor22{background-color:#f0e68c;}/*卡其色*/
.bcolor23{background-color:#191970;}/*午夜藍色*/
.bcolor24{background-color:#000080;}/*海軍色*/
.bcolor25{background-color:#00008b;}/*深藍色*/
.bcolor26{background-color:#0000cd;}/*中間藍色*/
.bcolor27{background-color:#00f;}/*藍色*/
.bcolor28{background-color:#1e90ff;}/*道奇藍色*/
.bcolor29{background-color:#008080;}/*藍綠色*/
.bcolor30{background-color:#20b2aa;}/*亮綠色*/
.bcolor31{background-color:#40e0d0;}/*綠松色*/
.bcolor32{background-color:#00ced1;}/*深綠松色*/
.bcolor33{background-color:#0ff;}/*水藍色*/
.bcolor34{background-color:#afaaaa;}/*灰綠松石色*/
.bcolor35{background-color:#556b2f;}/*深橄欖綠色*/
.bcolor36{background-color:#6b8e23;}/*橄欖綠色*/
.bcolor37{background-color:#808000;}/*橄欖色*/
.bcolor38{background-color:#006400;}/*深綠色*/
.bcolor39{background-color:#008000;}/*綠色*/
.bcolor40{background-color:#228b22;}/*蒼色*/
.bcolor41{background-color:#32cd32;}/*萊姆綠色*/
.bcolor42{background-color:#0f0;}/*萊姆色*/
.bcolor43{background-color:#7fff00;}/*蕁麻酒綠色*/
.bcolor44{background-color:#800000;}/*栗色*/
.bcolor45{background-color:#8b4513;}/*馬鞍棕色*/
.bcolor46{background-color:#d2691e;}/*淺棕色*/
.bcolor47{background-color:#cd853f;}/*秘魯色*/
.bcolor48{background-color:#f4a460;}/*沙棕色*/


/*其他樣式*/
/*td對齊*/
.tdtop{vertical-align:top;}
.tdbottom{vertical-align:bottom;}
.tdmiddle{vertical-align:middle;}
/*td水平置中*/
.tdcenter{margin:0 auto;}
/*限制寬度*/
.w05{width:0.5em;}
.w06{width:0.6em;}
.w07{width:0.7em;}
.w08{width:0.8em;}
.w09{width:0.9em;}
.w10{width:1em;}
.w11{width:1.1em;}
.w12{width:1.2em;}
.w15{width:1.5em;}
.w26{width:2.6em;}
.w33{width:3.3em;}
.w37{width:3.7em;}
.w40{width:4em;}
.w44{width:4.4em;}
.w50{width:50%;}
.w70{width:70%;}
.w100{width:100%;}
/*調整與上行文字距離*/
.mar1300v{margin:-1.3em 0 0;}
.mar0900v{margin:-0.9em 0 0;}
.mar0500v{margin:-0.5em 0 0;}
.mar0300v{margin:-0.3em 0 0;}
.mar0300{margin:0.3em 0 0;}
.mar0500{margin:0.5em 0 0;}
.mar0900{margin:0.9em 0 0;}
.mar1300{margin:1.3em 0 0;}
/*調整與上下行文字距離*/
.mar0505{margin:0.5em 0;}
.mar0909{margin:0.9em 0;}
.mar1515{margin:1.5em 0;}
.mar1818{margin:1.8em 0;}
.mar0510{margin:0.5em 0 1em;}
.mar1005{margin:1em 0 0.5em;}
/*調整文字上下内邊距離*/
.pad0505{padding:0.5em 0;}
.pad0909{padding:0.9em 0;}
.pad1515{padding:1.5em 0;}
.pad1818{padding:1.8em 0;}
/*調整行高*/
.h04{line-height:40%;vertical-align:bottom;}
.h11{line-height:110%;vertical-align:bottom;}
.h20{line-height:200%;vertical-align:bottom;}


/*文字字體*/
@font-face{
  font-family:"myfont1";
  src:url("../Fonts/myfont1.ttf");
}
.MF1{font-family:myfont1,serif;}

@font-face{
  font-family:"myfont2";
  src:url("../Fonts/myfont2.ttf");
}
.MF2{font-family:myfont2,serif;}


@font-face{
  font-family:"myfont3";
  src:url("../Fonts/myfont3.ttf");
}
.MF3{font-family:myfont3,serif;}

@font-face{
  font-family:"myfont4";
  src:url("../Fonts/myfont4.ttf");
}
.MF4{font-family:myfont4,serif;}

@font-face{
  font-family:"myfont5";
  src:url("../Fonts/myfont5.ttf");
}
.MF5{font-family:myfont5,serif;}

@font-face{
  font-family:"myfont6";
  src:url("../Fonts/myfont6.ttf");
}
.MF6{font-family:myfont6,serif;}

@font-face{
  font-family:"myfont7";
  src:url("../Fonts/myfont7.ttf");
}
.MF7{font-family:myfont7,serif;}

@font-face{
  font-family:"myfont8";
  src:url("../Fonts/myfont8.ttf");
}
.MF8{font-family:myfont8,serif;}

@font-face{
  font-family:"myfont9";
  src:url("../Fonts/myfont9.ttf");
}
.MF9{font-family:myfont9,serif;}

@font-face{
  font-family:"myfont10";
  src:url("../Fonts/myfont10.ttf");
}
.MF10{font-family:myfont10,serif;}

